# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build outputs
android/app/build/
ios/build/
*.apk
*.aab

# Keystores and signing
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
android/app/upload-keystore.jks

# Firebase & API credentials
google-services.json
GoogleService-Info.plist
serviceAccount.json

# Local environment files
.env
.env*.local

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS-specific
.DS_Store
Thumbs.db
*.pem

# TypeScript cache
*.tsbuildinfo

# Generated native folders (if using prebuild)
ios/
android/

# Misc
testers.csv
expo-debug.log
